body {
  color: #001b24ee;
  background-color: #effdffee;
}

.inputForm {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
}

.searchIcon {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

button {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.3em;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}

button:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}

button:active {
  position: relative;
  top: 1px;
  
}
.inputForm label, input, button {
  margin: 2px;
}

.cardList {
  margin: 2%;
  display: grid;
  justify-content: space-evenly;
}

.repoCard p {
  max-width: 400px;
}

.repoCard {
  background-color: white;
  padding: 4%;
  margin: 2%;
  min-width: min-content;
  color: ##020a48;
  -moz-box-shadow:3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  overflow: hidden;
}

.stats {
  display: grid;
  grid-template-columns: auto auto;
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

.stats p {
  text-align: left;
  padding: 3%;
  margin: auto;
  width: 80%;
  BOX-SHADOW: 1px 1px 3px 1px #eaeaea;
}

@keyframes spin {
  from {transform: rotate(0Deg);}
  to {transform: rotate(360Deg);}
}